.arrowDown {
    margin-bottom: 100px;
}

.arrowDown:hover {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 400px) {
    .arrowDown {
        width: 50px;
    }
}