html,
body {
  padding: 0;
  margin: 0;
  font-family: montserrat, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #A20019;
  border-radius: 25px;
}
